 <div class="row">
    <h5>Bill type</h5>
              <form action="/action" method="post">
             
                <input type="radio" name="actionType" value="call" >
                <span class="label-body">Call</span>
              
                <input type="radio" name="actionType" value="sms" >
                <span class="label-body" >SMS</span>
           
                <input type="radio" name="actionType" value="sms" >
                <span class="label-body" >Data cost</span>
            
              <button class="button-primary" type="submit" name="button">Add</button>
                </form>
              
 </div>